  <!-- TOOLBAR -->
  <mat-toolbar class="flex justify-content-between align-items-center" color="primary">
    <div>
      <button
        (click)="drawer?.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
    </div>

    <!-- QUIERO ACCEDER AL VALOR .... y luego imprimo la propiedad name -->
    <p *ngIf="authUser$ | async; let authUser ">
      {{ authUser?.name }} {{ authUser?.surname }}
    </p>
  </mat-toolbar>
  <!-- FIN TOOLBAR -->
