<div class="grid">
  <div class="col-4">
    <mat-card>
      <!-- HEADER -->
      <mat-card-header>
        <mat-card-title>
          Ventas <mat-icon>shopping_cart</mat-icon>
        </mat-card-title>
      </mat-card-header>

      <!-- CONTENIDO -->
      <mat-card-content>
        <p style="font-size: 2rem;">230</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <!-- HEADER -->
      <mat-card-header>
        <mat-card-title>
          Ventas
        </mat-card-title>
      </mat-card-header>

      <!-- CONTENIDO -->
      <mat-card-content>
        <p style="font-size: 2rem;">230</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <!-- HEADER -->
      <mat-card-header>
        <mat-card-title>
          Ventas
        </mat-card-title>
      </mat-card-header>

      <!-- CONTENIDO -->
      <mat-card-content>
        <p style="font-size: 2rem;">230</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
