<mat-nav-list>
  <!-- /dashboard -> /dashboard/home -->
  <a routerLink="home" mat-list-item>Inicio</a>
  <a *ngIf="selectIsAdmin$ | async" routerLink="users" mat-list-item>Usuarios</a>
  <a routerLink="products" mat-list-item>Productos</a>
  <a routerLink="buyers" mat-list-item>Compradores</a>
  <a routerLink="sales" mat-list-item>Ventas</a>
  <a routerLink="counter" mat-list-item>Contador</a>
  <a routerLink="categories" mat-list-item>Categorias</a>

  <!-- /auth -->
  <a (click)="logout()" mat-list-item>Cerrar sesion</a>
</mat-nav-list>
