<h1 mat-dialog-title>Crear usuario</h1>
<div mat-dialog-content>
  <form [formGroup]="userForm" class="grid">
    <div class="col-6 field">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input formControlName="name" matInput type="text" name="name" />
        <mat-error *ngIf="nameControl.hasError('required')">
          Este campo es requerido.
        </mat-error>
        <mat-error *ngIf="nameControl.hasError('minlength')">
          El campo debe tener al menos {{nameControl.errors?.['minlength']?.requiredLength}} caracteres.
        </mat-error>
        <mat-error *ngIf="nameControl.hasError('noHomero')">
          No se admiten Homeros
        </mat-error>
      </mat-form-field>

      <pre>{{ nameControl.errors | json }}</pre>
    </div>


    <div class="col-6 field">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Apellido</mat-label>
        <input formControlName="surname" matInput type="text" name="surname" />
        <mat-error *ngIf="nameControl.hasError('required')">
          Este campo es requerido.
        </mat-error>
      </mat-form-field>
    </div>


    <div class="field col-6">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Email</mat-label>
        <input [formControl]="emailControl" matInput type="email" name="email" />
        <mat-error *ngIf="nameControl.hasError('required')">
          Este campo es requerido.
        </mat-error>
      </mat-form-field>
    </div>


    <div class="field col-12">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Contrasena</mat-label>
        <input [formControl]="passwordControl" matInput type="password" name="password" autocomplete="off"/>
        <mat-error *ngIf="nameControl.hasError('required')">
          Este campo es requerido.
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="flex justify-content-end" mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button (click)="onSubmit()" type="submit" mat-button>Guardar</button>
</div>
