<mat-drawer-container class="example-container" autosize>
  <!-- SIDEBAR -->
  <mat-drawer
    opened
    mode="over"
    #drawer
    class="example-sidenav"
    mode="side">
    <app-nav-menu></app-nav-menu>
  </mat-drawer>
  <!-- FIN SIDEBAR -->

  <!-- CONTENT WRAPPER-->
  <div class="example-sidenav-content">
    <app-toolbar [drawer]="drawer"></app-toolbar>

    <main class="p-3">
      <router-outlet></router-outlet>
      <!-- <app-home></app-home> -->
      <!-- <button (click)="showPage = !showPage">Alternar pagina</button>
      <app-users *ngIf="showPage"></app-users> -->
    </main>
  </div>
</mat-drawer-container>
