<mat-drawer-container class="example-container" autosize>
  <!-- SIDEBAR -->
  <mat-drawer mode="over" #drawer class="example-sidenav" mode="side">
    <ul>
      <li>
        <a href="">Inicio</a>
      </li>
    </ul>
  </mat-drawer>
  <!-- FIN SIDEBAR -->

  <!-- CONTENT WRAPPER-->
  <div class="example-sidenav-content">
    <!-- TOOLBAR -->
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
    </mat-toolbar>
    <!-- FIN TOOLBAR -->

    <main class="p-3">
      <!-- <app-home></app-home> -->
      <app-users></app-users>
    </main>
  </div>
</mat-drawer-container>
